
/* ==== THEMING ====*/


  :root {
    --primary-color:        #222d3b;
    --secondary-color:      #1d2531;
    --third-color:          #d8dee4;
    --background-color:     #f2f7fb;
    --error--color:         #e45161;
    --error--background:    #e67682;
    --success--color:       #6bc781;
    --success--background:  #d4edda;
  }

  body {
    /* font-family: 'Quicksand', 'Open Sans'!important; */
    font-family: 'Rancho', sans-serif!important;
    background: var(--background-color)!important;
  }

/* ==== END THEMING ====*/

/*==== GENERAL CONTAINER ====*/
  .content{
    margin-left: 255px;
    margin-top: 56px;
    justify-content: center!important;
  }

  @media screen and (max-width: 576px) {
    div.content {
      margin-left: 0%;
    }
  }
/*==== END GENERAL CONTAINER ====*/
 
.text--error {
  color: var(--error--background)!important;
}

.text--success {
  color: var(--success--background)!important;
}

/* ==== NAVBAR ====*/
.navbar--default {
  background: var(--third-color)!important;
  position: fixed!important;
  width: 100%!important;
  top:0px!important;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .navbar-nav .dropdown-menu-right {
    transform: translate3d(0px, 0px, 0px) !important;
    width: 100%;
  }
  .dropdown-responsive {
    height: 13vh;
  }
}

/* ==== END NAVBAR ==== */


/* ==== SIDEBAR ==== */

.sidebar {
  width: 90px !important;
  min-height: calc(100vh - 40px);
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  left: 0;
  z-index: 999;
  transition: left .3s ease;
  font-size: 0.85rem!important;
  background-color: var(--primary-color);
}

.nav-link > span, .dropdown__button, .dropdown__item {
  font-size: 14px!important;
}

.sidebar-bg{
  background-image: url(https://azouaoui-med.github.io/angular-pro-sidebar/demo/assets/img/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.sidebar .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}



@media (min-width: 768px) {
  .sidebar {
    width: 225px !important;
  }
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 225px;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 1rem;
    display: inline;
  }
  .sidebar .nav-item .dropdown-menu {
    position: static !important;
    margin: 0 1rem;
    top: 0;
  }
  .sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: block;
  }
  .sidebar.toggled {
    overflow: visible;
    width: 90px !important;
  }
  .sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
  }
  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  .sidebar.toggled .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
  }
  .sidebar.toggled .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
  }
  .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
    display: none;
  }
}

.sidebar__icon {
margin: 0px 1rem;
}

/*DropDown Menu*/

.dropdown--show {
display: block;
background: white;
-webkit-transition: width 2s; 
transition: width 2s;
}

.dropdown--hide {
display: none;
}

.dropdown__button {
width: 100%;
text-align: left!important;
border-radius: 0!important;
color: rgba(255, 255, 255, 0.5)!important;
padding: 16px!important;
background: var(--primary-color)!important;
border: 0px!important;
}

.dropdown__button:hover {
color: rgba(255, 255, 255, 0.75)!important;
border: 0px!important;
}

.dropdown__button:focus {
box-shadow: 0 0 0 0!important;
}
.dropdown__item {
display: block;
width: 100%;
padding: .01rem 2.8rem;
clear: both;
font-weight: 400;
text-align: inherit;
white-space: nowrap;
background-color: var(--secondary-color);
border: 0;
border-bottom: 1.9px solid var(--primary-color);
}

/* Header SideBar */
.dot {
height: 7px;
width: 7px;
margin: 1px 3px;
background-color: #28a745;
border-radius: 50%;
display: inline-block;
}

.separator {
border: 1px solid rgba(255,255,255,.1);
width: 100%;
}

/* ==== END SIDEBAR ====*/

/* ==== PROFILE ====*/

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.btn-center {
  display: flex;
  justify-content: center;
}

  /*Card Image - General */
.img--default {
  margin: 10px;
  max-height: 220px;
  width: auto!important;
}
  
.img--validation--success {
border: 6px solid var(--success--background)!important;
}

.img--validation--error {
border: 6px solid var(--error--background)!important;
}

/* ==== END PROFILE ====*/

/*==== ALERTS ====*/
.toast {
  align-items: flex-start;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  padding: 16px;
  opacity: 1!important;
}

.toast--error {
  background: var(--error--background)!important;
}

.toast--success {
  background: var(--success--background)!important
}

.toast:not(:last-child) {
  margin: 0 0 12px;
}

.toast__content {
  flex: 1 1 auto;
  margin: 0 12px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toast__dismiss {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  flex: 0 0 auto;
  font: inherit;
  padding: 0;
}

.toasts {
  bottom: 24px;
  position: fixed;
  right: 24px;
  width: 240px;
  z-index: 99999;
}

/*==== END ALERTS ====*/