t// Here you can add other styles
:root {
    --primary-color:        #222d3b;
    --secondary-color:      #1d2531;
    --third-color:          #d8dee4;
    --background-color:     #f2f7fb;
    --error--color:         #e45161;
    --error--background:    #f86c6b;
    --success--color:       #6bc781;
    --success--background:  #4dbd74;
  }


  
/*==== ALERTS ====*/
.toast {
    align-items: flex-start;
    border-radius: 4px;
    color: #ffffff;
    display: flex;
    padding: 16px;
    opacity: 1!important;
  }
  
  .toast--error {
    background: var(--error--background)!important;
  }
  
  .toast--success {
    background: var(--success--background)!important
  }
  
  .toast:not(:last-child) {
    margin: 0 0 12px;
  }
  
  .toast__content {
    flex: 1 1 auto;
    margin: 0 12px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .toast__dismiss {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    flex: 0 0 auto;
    font: inherit;
    padding: 0;
  }
  
  .toasts {
    bottom: 24px;
    position: fixed;
    right: 24px;
    width: 240px;
    z-index: 99999;
  }
  
  /*==== END ALERTS ====*/


.text--error {
  color: var(--error--color)!important;
}

.text--success {
  color: var(--success--color)!important;
}


/* ==== PROFILE ====*/

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.btn-center {
  display: flex;
  justify-content: center;
}

  /*Card Image - General */
.img--default {
  margin: 10px;
  max-height: 220px;
  width: auto!important;
}
  
.img--validation--success {
border: 6px solid var(--success--background)!important;
}

.img--validation--error {
border: 6px solid var(--error--background)!important;
}

/* ==== END PROFILE ====*/


/* === SIDEBAR  === */
.sidebar {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.65);
  background-image: url(http://miriadna.com/desctopwalls/images/max/Rain-drops-on-the-branches.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* === END SIDEBAR  === */

/* === CARD GENERIC  === */
.card-generic {
  background: white;
  padding: 10px;
  -webkit-box-shadow: 10px 13px 19px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 13px 19px -10px rgba(0,0,0,0.75);
box-shadow: 10px 13px 19px -10px rgba(0,0,0,0.75);
}

.card-generic-title {
  text-align: center!important;
  background: #f9c851;
  padding: 10px;
  color: white;
}
/* === END CARD GENERIC  === */

/* === CHECK GENERIC  === */
input[type="checkbox"][id^="cb"] {
  display: none;
}

.checkbox-label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-img {
  border-radius: 50% !important;
}
.checkbox-label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.checkbox-label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+.checkbox-label {
  border-color: #ddd;
}

:checked+.checkbox-label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked+.checkbox-label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}
/* === END CHECK GENERIC  === */
